/* Font Imports  */
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap'); /* Lemonada */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /* Fredoka One */
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap'); /* Hanalei */


#home {
    font-family: 'Fredoka One', cursive;
}

body {
    background-color: bisque;
}

.mainHeading {
    font-family: 'Fredoka One', cursive;
    border: 5px solid black;
    background-color: green;
    color: white;
    min-width: 500px;
    max-width: 600px;
}

.table {
    text-align: center;
    font-size: large;
}

#home img {
    height: 100px;
    width: 100px;
}

#home .contHead {
    color: gainsboro;
    background-color: black;
    text-align: center;
}
#home ul {
    font-family: 'Lemonada', cursive;
    font-size: larger;
    margin-left: 80px;
}

#home #sorryNote {
    font-size: 60px;
    opacity: 70%;
    text-align: center;
    font-family: 'Hanalei';
}

.examples {
    display: block;
    margin: auto;
    width: 50%;
    border: 2px solid black;
}